/** Title class **/
.title {
    h2, h3 {
        position: relative;
        color: #333333;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        a, .view-all {
            float: right;
            font-size: 14px;
            color: $primary_color;
            letter-spacing: normal;
        }
    }
    &.title-left,
    &.title-border{
        h2, h3 {
            &:after {
                content: '';
                position: absolute;
                width: 200px;
                height: 1px;
                bottom: -1px;
                left: 0;
                background-color: $primary_color;
            }
        }
    }
}

/*[Start] Zo Grid
=============================================*/

.zo-grid {
    .zo-grid-item {
        @media screen and (min-width: 992px) {
            &.col-lg-6 {
                &:nth-child(2n+1) {
                    clear: both;
                }
            }
            &.col-lg-4 {
                &:nth-child(3n+1) {
                    clear: both;
                }
            }
            &.col-lg-3 {
                &:nth-child(4n+1) {
                    clear: both;
                }
            }
            &.col-lg-2 {
                &:nth-child(6n+1) {
                    clear: both;
                }
            }
        }
        @media screen and (max-width: 991px) {
            &.col-sm-6:nth-child(2n+1) { clear: both;}
        }
    }
}

/*[End] Zo Grid
=============================================*/


/* Slideshow
=============================================*/
.wpb_revslider_element {
    .tp-bullets {
        z-index: 777;
        &.simplebullets.round {
            .bullet {
                padding: 0;
                background: none;
                background-color: #FFF;
                width: 50px;
                height: 2px;
                margin: 0 5px;
                display: inline-block;
                cursor: pointer;
                &.selected {
                    background: $primary_color;
                }
                &:hover {
                    background: $primary_color;
                }
            }
        }
    }
}

blockquote {
    border-left: 5px solid $primary_color;
    padding-left: 10px;
}

dl {
    margin-bottom: 1.6em;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 1.6em;
}

table,
th,
td {
    border: 1px solid #eaeaea;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.6em;
    table-layout: fixed; /* Prevents HTML tables from becoming too wide */
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: 700;
}

td {
    border-width: 0 1px 1px 0;
}

th, td {
    padding: 0.4em;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
}

del {
    opacity: 0.8;
}

dl {
    dt {
        font-weight: bold;
    }
}
/* Alignments
==================================*/
blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 1.2em;
}


.post-password-form {
    input[type="submit"] { margin-top: 15px; }
}