/* ==========================================================================
    Start Style Footer
========================================================================== */
footer {
    position: relative;
}
#zo-footer-top {
    border-top: 5px solid $primary_color;
    position: relative;
    .wg-title {
        font-size: 14px;
        position: relative;
        color: $primary_color;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    ul {
        padding: 0; margin: 0;
        list-style: none inside;
        li {
            a {
                color: #FFF;
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
    .social-bottom {
        padding: 0;
        margin: 0 0 50px;
        li{
            display: inline-block;
            margin-right: 10px;
            a{
                display: block;
                font-size: 20px;
                text-align: center;
                height: 45px;
                width: 45px;
                line-height: 45px;
                background: $primary_color;
                border-radius: 100%;
                color: #333;
                &:hover{
                    background: #fff;
                    color: #333;
                }
            }
        }
    }

    .btn.btn-primary {
        margin-top: 20px;
        .menu-title{
            color: #000 ! important;
        }
    }
    .copyright{
        font-size: 13px;   
    }
}
footer #scroll_to_top {
    width: 62px;
    height: 62px;
    line-height: 65px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    background-color: #FFF;
    border: 1px solid $primary_color;
    @include border-radius(100%);
    @include transform(translate(-50%, -50%));
    cursor: pointer;
    .fa {
        font-size: 30px;
        color: #333;
    }

}
/* End Widget Categories */
footer.entry-meta {
    font-size: 13px;
    line-height: 1.846153846;
    color: #757575;
    margin: 0;
    text-align: center;
    clear: both;
}
/* ==========================================================================
    End Style Footer
========================================================================== */