/* ==========================================================================
   [Start] All Style Form
========================================================================== */
input[type='text'],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea, select {
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 17px;
    border: 1px solid #ededed;
    width: 100%;
    @include border-radius(5px);
    line-height: normal;
}
textarea {
    height: 240px;
    max-height: 240px;
    max-width: 100%;
}
input[type='text']:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
    background-color: rgba(229,229,229,0.3);
    border: 1px solid $primary_color;
}

.form-group {
    margin-bottom: 10px;
}
/** Contact Form 7 */
.wpcf7-form {
    .wpcf7-form-item {
        margin-bottom: 24px;
    }
    textarea {
        height: 218px;
    }
    input[type="submit"] {
        margin-top: 25px;
    }
    .wpcf7-form-control-wrap {
        display: block;
        .wpcf7-textarea + .wpcf7-not-valid-tip{
            bottom: -1px;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
        position: absolute;
        right: 15px;
        bottom: -6px;
        color: #d94e90;
    }
    .wpcf7-validation-errors {
        display: block;
        text-align: center;
        margin: 20px 0 0;
        border: 1px solid #d94e90;
    }
    .wpcf7-response-output {
        text-align: center;
    }
}
/* ==========================================================================
   [End] All Style Form
========================================================================== */

/* Become Volunteer Form
=======================================================================*/
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                position: relative;

                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 0 0 0 2px;
                    font-size: 21px;
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}
#volunteer-form {
    .modal-content {
        .modal-header {
            p, br { display: none; }
        }
    }
}
.volunteer-body {
    padding: 10px 10px 0;
    .row {
        margin-bottom: 10px;
        .wpcf7-form-control-wrap textarea {
            height: 150px;
        }
        .action {
            text-align: right;
            input[type="submit"] {
                margin-top: 5px;
            }
        }
    }
}